.theme-dark {
	--button-text: #ff0070;
	--button-border: 255, 0, 112;

	--title-color: #db00ff;
	--title-shadow: #ff0070;

	--accent-color: #ff0070;
	--primary-text: #000028;
	--secondary-text: #f1b2ce;

	--accent-bg-color: #ff0070;
	--primary-bg: #000028;

	--bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .rec-label {
	display: block;
}

@media (prefers-color-scheme: dark) {
	.rec-label {
		display: block;
	}

	:root {
		--button-text: #ff0070;
		--button-border: 255, 0, 112;

		--title-color: #db00ff;
		--title-shadow: #ff0070;

		--accent-color: #ff0070;
		--primary-text: #000028;
		--secondary-text: #f1b2ce;

		--accent-bg-color: #ff0070;
		--primary-bg: #000028;

		--bg-image: url('../images/cover-image-dark.png');
	}
}
