:root.theme-light {
	--text-button: #353430;
	--border-button: 53, 52, 48;

	--text-masthead: #ffc2e6;
	--shadow-masthead: #ff8dcb;

	--text-accent: #353430;
	--text-primary: #353430;
	--text-secondary: #353430;

	--bg-accent: #ff8dcb;
	--bg-primary: #fff1f7;

	--bg-hero-image: url('../images/cover-image-light.png');
}

.theme-light .header__decoration {
	display: none;
}

@media (prefers-color-scheme: light) {
	.header__decoration {
		display: none;
	}

	:root {
		--text-button: #353430;
		--border-button: 53, 52, 48;

		--text-masthead: #ffc2e6;
		--shadow-masthead: #ff8dcb;

		--text-accent: #353430;
		--text-primary: #353430;
		--text-secondary: #353430;

		--bg-accent: #ff8dcb;
		--bg-primary: #fff1f7;

		--bg-hero-image: url('../images/cover-image-light.png');
	}
}
