.theme-light {
	--button-text: #353430;
	--button-border: 53, 52, 48;

	--title-color: #ffc2e6;
	--title-shadow: #ff8dcb;

	--accent-color: #353430;
	--primary-text: #353430;
	--secondary-text: #353430;

	--accent-bg-color: #ff8dcb;
	--primary-bg: #fff1f7;

	--bg-image: url('../images/cover-image-light.png');
}

.theme-light .rec-label {
	display: none;
}

@media (prefers-color-scheme: light) {
	.rec-label {
		display: none;
	}

	:root {
		--button-text: #353430;
		--button-border: 53, 52, 48;

		--title-color: #ffc2e6;
		--title-shadow: #ff8dcb;

		--accent-color: #353430;
		--primary-text: #353430;
		--secondary-text: #353430;

		--accent-bg-color: #ff8dcb;
		--primary-bg: #fff1f7;

		--bg-image: url('../images/cover-image-light.png');
	}
}
