.theme-light .header__decoration {
  display: none;
}

:root.theme-light {
  --bg-hero-image: url('../images/cover-image-light.png');
  --text-masthead: #ffc2e6;
  --shadow-masthead: #ff8dcb;
  --text-button: #353430;
  --border-button: 53, 52, 48;
  --text-accent: #353430;
  --text-primary: #353430;
  --text-secondary: #353430;
  --bg-accent: #ff8dcb;
  --bg-primary: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hero-image: url('../images/cover-image-light.png');
    --text-masthead: #ffc2e6;
    --shadow-masthead: #ff8dcb;
    --text-button: #353430;
    --border-button: 53, 52, 48;
    --text-accent: #353430;
    --text-primary: #353430;
    --text-secondary: #353430;
    --bg-accent: #ff8dcb;
    --bg-primary: #fff1f7;
  }

  .header__decoration {
    display: none;
  }
}
