.main-title {
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	font-weight: bold;
	line-height: 0.825;
	color: var(--title-color);
	text-shadow: 4px 4px 0 var(--title-shadow);
}

.accent-background {
	background-color: var(--accent-bg-color);
}

.full-viewport {
	min-block-size: 100svb;
	min-inline-size: min(10svi, 100%);
}

.page-layout {
	--padding: 10px;
	font-family: var(--main-font), sans-serif;
	background-color: var(--primary-bg);
	background-image: var(--bg-image);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	min-height: 200svh;
}

.page-header {
	padding: var(--padding);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr min-content 1fr;
	grid-template-areas:
		'theme theme'
		'title title'
		'description description';
}

.corner-decoration {
	position: relative;
}

.corner-decoration::before {
	content: '';
	position: absolute;
	top: var(--padding);
	right: var(--padding);
	block-size: 25px;
	inline-size: 25px;
	border: 0 solid var(--accent-color);
	border-block-start-width: 1px;
	border-inline-end-width: 1px;
}

.corner-decoration::after {
	content: '';
	position: absolute;
	bottom: var(--padding);
	left: var(--padding);
	block-size: 25px;
	inline-size: 25px;
	border: 0 solid var(--accent-color);
	border-block-end-width: 1px;
	border-inline-start-width: 1px;
}

.rec-label {
	position: absolute;
	top: var(--padding);
	right: calc(9px + var(--padding));
}

.rec-text {
	text-transform: uppercase;
	color: var(--accent-color);
	font-size: 18px;
	line-height: 1.38em;
}

.rec-text::after {
	content: '';
	display: inline-block;
	margin-block-end: 2px;
	margin-inline-start: 10px;
	block-size: 9px;
	inline-size: 9px;
	border-radius: 50%;
	background-color: var(--accent-color);
	box-shadow: 0 0 4px 2px var(--accent-color);
}

.theme-switcher {
	grid-area: theme;
	justify-self: end;
	align-self: center;
}

.theme-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.theme-button {
	background-color: transparent;
	color: var(--button-text);
	font-size: 18px;
	line-height: 1;
	padding-block: 3px;
	padding-inline: 13px;
	border: 1px solid transparent;
	cursor: pointer;
	outline: none;
	position: relative;
}

.theme-button:hover:not(:disabled) {
	border: 1px solid rgba(var(--button-border), 0.4);
}

.theme-button:focus-visible::after {
	content: '';
	position: absolute;
	background-color: var(--accent-color);
	left: 0;
	right: 0;
	bottom: -2px;
	block-size: 1px;
	inline-size: 100%;
}

.theme-button:disabled {
	cursor: default;
}

.theme-button-active {
	border: 1px solid rgba(var(--button-border));
}

.main-title {
	grid-area: title;
	justify-self: start;
}

.header-description {
	grid-area: description;
	justify-self: end;
	align-self: center;
	text-wrap: balance;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--primary-text);
}

.main-content {
	padding-inline: var(--padding);
	background-color: var(--primary-bg);
	padding-block-start: 40px;
}

.content-section {
	display: grid;
	column-gap: 20px;
}

.content-section:not(:first-child) {
	margin-block-start: 50px;
}

.section-heading {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--accent-color);
	margin-block-end: 20px;
}

.section-subtitle {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--primary-text);
}

.section-subtitle:not(:first-child) {
	margin-block-end: 20px;
}

.list-item:not(:first-child) {
	margin-block-start: 20px;
}

.card-heading {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--primary-text);
}

.card-heading-thin {
	font-weight: normal;
}

.card-text {
	margin-block-start: 10px;
	font-size: 18px;
	line-height: 1.3;
	color: var(--secondary-text);
}

.card-text > a {
	position: relative;
	text-shadow: 3px 3px 0 var(--accent-bg-color);
	text-decoration: none;
	outline: none;
}

.card-text > a:focus-visible {
	outline: 1px solid var(--secondary-text);
}

.card-text > a:hover::after {
	content: '';
	position: absolute;
	background-color: var(--secondary-text);
	left: 0;
	right: 0;
	bottom: -2px;
	block-size: 1px;
	inline-size: 100%;
}

.grid-item {
	display: flex;
	margin-block-start: 10px;
}

.grid-image {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.page-footer {
	display: grid;
	align-items: center;
	justify-items: center;
	margin-block-start: 40px;
}

@media (width >= 768px) {
	.main-title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.page-layout {
		--padding: 20px;
	}

	.page-header {
		grid-template-areas:
			'theme theme'
			'title title'
			'. description';
	}

	.main-title {
		margin-left: -20px;
	}

	.main-content {
		padding-block-start: 60px;
	}

	.content-section {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: min-content 1fr;
	}

	.content-section:not(:first-child) {
		margin-block-start: 80px;
	}

	#distractions .section-list {
		grid-column: 1 / -1;
	}

	#solutions .section-heading {
		grid-row: 1 / -1;
	}

	#gallery .section-subtitle {
		grid-column: 1 / -1;
	}

	#gallery .image-grid {
		display: grid;
		gap: 20px;
		margin-block-start: 20px;
		aspect-ratio: 1 / 1;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column: 1 / -1;
	}

	#gallery .grid-item {
		margin-block-start: 0;
	}

	#sunset-image {
		grid-area: 1 / 1 / 2 / 3;
	}

	#ice-cream-image {
		grid-area: 1 / 3 / 3 / 4;
	}

	#tape-image {
		grid-area: 2 / 1 / 4 / 2;
	}

	#books-image {
		grid-area: 2 / 2 / 3 / 3;
	}

	#street-image {
		grid-area: 3 / 2 / 4 / 4;
	}

	.page-footer {
		margin-block-start: 60px;
	}
}

@media (width >= 1024px) {
	.theme-switcher {
		justify-self: center;
		align-self: flex-start;
	}

	.theme-list {
		flex-direction: row;
	}

	.content-section {
		column-gap: 10px;
	}

	#distractions .list-item {
		margin-block-start: 0;
	}

	#distractions .section-list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}
}
