:root {
  --bg-hero-image: url('../images/cover-image-dark.png');
  --text-masthead: #db00ff;
  --shadow-masthead: #ff0070;
  --text-button: #ff0070;
  --border-button: 255, 0, 112;
  --text-accent: #ff0070;
  --text-primary: #000028;
  --text-secondary: #f1b2ce;
  --bg-accent: #ff0070;
  --bg-primary: #000028;
  --main-font: 'IBM Plex mono';
}
